@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Lora:wght@400;700&display=swap");

@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.post-card ul:first-child {
  margin-top: 0 !important;
}
.post-card ul:last-child {
  margin-bottom: 0 !important;
}

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #737373;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --font-family-serif: "Merriweather", serif;
  --font-family-sans: "Lora", sans-serif;
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background/85 font-serif text-foreground selection:bg-accent/75 selection:text-background;
    font-family: var(--font-family-serif); /* Use serif font for body */
    font-size: 1rem; /* Base font size */
    line-height: 1.5; /* Standard line height */
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.05); /* Subtle text shadow for printed effect */
  }
  h1 {
    font-family: var(--font-family-sans);
    font-size: 2.5rem; /* Larger for main headlines */
    line-height: 1.1;
  }
  h2 {
    font-family: var(--font-family-sans);
    font-size: 2rem; /* Sub-headlines */
    line-height: 1.2;
  }
  h3 {
    font-family: var(--font-family-sans);
    font-size: 1.75rem;
    line-height: 1.3;
  }
  h4,
  h5,
  h6 {
    font-family: var(
      --font-family-sans
    ); /* Use sans-serif for headings for contrast */
    font-size: 1.5rem;
    line-height: 1.4;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-app px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
